.datepicker{
  display: inline-block;
  vertical-align: top;
  width: 244px;
  min-height: 250px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(84, 112, 139, 0.1);
}
.datepicker-head{
  height: 50px;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  text-align: justify;
}
.datepicker-head:after{
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.datepicker-head button{
  display: inline-block;
  vertical-align: top;
  padding: 0;
  height: 30px;
  line-height: 30px;
  border: 0;
  background: transparent;
  text-align: center;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}
.datepicker-head button.next, .datepicker-head button.previous{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.datepicker-head button.next span, .datepicker-head button.previous span{
  font-size: 28px;
  line-height: 25px;
  display: inline-block;
}
.datepicker-head button.current{
  border-radius: 15px;
  width: 155px;
}
.datepicker-head button:hover, .datepicker-head button:focus, .datepicker-head button:active{
  outline: none;
}
.datepicker-head button:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.datepicker-head button:active{
  background-color: rgba(0, 0, 0, 0.2);
}

.datepicker-body{
  padding: 10px;
  border-radius: 0 0 3px 3px;
}
.datepicker-body table{
  width: 100%;
  border-collapse: separate;
  /*  border-spacing: 2px;*/
}
.datepicker-body table th{
  font-size: 13px;
  color: #9aaec1;
  font-weight: 400;
  text-align: center;
}
.datepicker-body table td{
  color: #54708b;
  padding: 1px;
}
.datepicker-body table td span {
  display: block;
  font-size: 13px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  transition: background-color 0.3s;
  position: relative;
  z-index: 1;
}
.datepicker-body table td:not(.disabled) span{
  cursor: pointer;
}
.datepicker-body table td:not(.disabled) span:hover{
  background-color: #e9edf0;
}
.datepicker-body table td.disabled span{
  color: #ddd;
}
.datepicker-body table td.active span{
  color: #fff;
}
.datepicker-body table td.selected {
  background: #eee;
  position: relative;
}
.datepicker-body table td.selected span {
  background-color: #eee;
  border-radius: 0px;
  width: 100%;
}
.datepicker-body table td[class*="select-"] span{
  color: #fff;
}
.datepicker-body table td.selected.select-start span {
  border-radius: 10px 0px 0px 10px;
  width: 32px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
.datepicker-body table td.selected.select-end span {
  border-radius: 0px 10px 10px 0px;
  width: 32px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.datepicker-body table td.selected.select-end:after, .datepicker-body table td.selected.select-start:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 0;
}
.label-default+.datepicker-body table td.active span, .label-default+.datepicker-body table td[class*="select-"] span{
  background-color: #777;
}
.label-primary+.datepicker-body table td.active span, .label-primary+.datepicker-body table td[class*="select-"] span{
  background-color: #337ab7;
}
.label-success+.datepicker-body table td.active span, .label-success+.datepicker-body table td[class*="select-"] span{
  background-color: #5cb85c;
}
.label-danger+.datepicker-body table td.active span, .label-danger+.datepicker-body table td[class*="select-"] span{
  background-color: #d9534f;
}
.label-warning+.datepicker-body table td.active span, .label-warning+.datepicker-body table td[class*="select-"] span{
  background-color: #f0ad4e;
}
.label-info+.datepicker-body table td.active span, .label-info+.datepicker-body table td[class*="select-"] span{
  background-color: #5bc0de;
}
.datepicker-body table.months td span, .datepicker-body table.years td span{
  width: 46px;
  height: 46px;
  line-height: 45px;
  margin: 0 auto;
}
.datepicker-body table.months tr:not(:last-child) td span, .datepicker-body table.years tr:not(:last-child) td span{
  margin-bottom: 14px;
}
