<div class="bs-datepicker-head label-success">
  <button class="previous" (click)="prev('months')"><span>&lsaquo;</span></button>
  <button class="current" (click)="viewMode('months')"><span>{{title}}</span></button>
  <button class="next" (click)="next('months')"><span>&rsaquo;</span></button>
</div>
<div class="bs-datepicker-body">
  <table role="grid" class="days">
    <thead>
    <tr>
      <th></th><!--if show weeks-->
      <th *ngFor="let weekday of locale.weekdays; let i = index"
          class="text-center" aria-label="weekday">{{locale.weekdaysShort[i]}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let week of calendar; let i = index">
      <td class="text-center h6"><em>{{ weeks[i] }}</em></td>
      <td *ngFor="let day of week" role="gridcell"
          (click)="selectDate(day.date)" (mouseenter)="activeDate(day.date)" (mouseleave)="activeDate()"
          [class.selected]="day.isActive" [class.active]="day.isSelected">
        <span>{{day.label}}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
